# #############################################################################
# clang-format file for Certifier Framework code base
# #############################################################################
Language:      Cpp
BasedOnStyle:  Google

AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right

AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      false

  # Multi-line if() and for() control statements will have their
  # opening { come on a new line, for readability.
  AfterControlStatement: MultiLine
  AfterEnum:       false
  AfterFunction:   true
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

BreakStringLiterals: true

ConstructorInitializerIndentWidth: 3
ContinuationIndentWidth: 4

FixNamespaceComments: true

IndentCaseLabels: true
IndentWidth:     2

MaxEmptyLinesToKeep: 2

PointerAlignment: Right
SpaceBeforeAssignmentOperators: true
SpacesBeforeTrailingComments: 2
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 2
SpacesInParentheses: false
SpacesInSquareBrackets: false

Standard:        Cpp11
TabWidth:        2
UseTab:          Never
