# #############################################################################
# clang-format file for Certifier Framework code base
# #############################################################################
Language:      Cpp
BasedOnStyle:  Google
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
