# Attestation manifest file example

loader.entrypoint = "file:{{ gramine.libos }}"
libos.entrypoint = "/gramine_tests"

loader.log_level = "{{ log_level }}"

loader.env.LD_LIBRARY_PATH = "/usr/local/lib:.:/lib:{{ arch_libdir }}:/usr{{ arch_libdir }}"

loader.insecure__use_cmdline_argv = true

sys.enable_sigterm_injection = true

fs.mounts = [
  { path = "/lib", uri = "file:{{ gramine.runtimedir() }}" },
  { path = "/usr/local/lib", uri = "file:/usr/local/lib" },
  { path = "{{ arch_libdir }}", uri = "file:{{ arch_libdir }}" },
  { path = "/usr{{ arch_libdir }}", uri = "file:/usr{{ arch_libdir }}" },
  { path = "/etc", uri = "file:/etc" },
  { path = "/gramine_tests", uri = "file:gramine_tests" },
]

sgx.debug = true

sgx.remote_attestation = "{{ ra_type }}"
sgx.ra_client_spid = "{{ ra_client_spid }}"
sgx.ra_client_linkable = {{ 'true' if ra_client_linkable == '1' else 'false' }}

sgx.trusted_files = [
  "file:{{ gramine.libos }}",
  "file:gramine_tests",
  "file:libcertifier.so",
  "file:{{ gramine.runtimedir() }}/",
  "file:/usr/local/lib/",
  "file:{{ arch_libdir }}/",
  "file:/usr{{ arch_libdir }}/",
  "file:gramine_tests.crt",
  "file:gramine-attestation.bin",
]

sgx.allowed_files = [
  "file:/etc/nsswitch.conf",
  "file:/etc/ethers",
  "file:/etc/host.conf",
  "file:/etc/hosts",
  "file:/etc/group",
  "file:/etc/passwd",
  "file:/etc/gai.conf",
  "file:/etc/ssl/certs/ca-certificates.crt",
  "file:/etc/sgx_default_qcnl.conf",
  "file:gramine-attestation.bin",
]
