name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: dependencies
      run: |
        sudo apt update -y
        sudo apt install -y libgtest-dev libgflags-dev openssl libssl-dev protobuf-compiler protoc-gen-go golang-go cmake

    - name: test-ISLET-SDK-shim_test
      run: |
        echo "**********************************************************"
        echo "* Download ISLET SDK, build the library and run shim_test"
        echo "**********************************************************"
        echo " "
        pushd src/cca

        ../../third_party/islet/setup.sh

        echo " "
        set -x
        cd islet_test/
        make clean
        make shim_test

        echo " "
        make attest_seal_test
        set +x
        echo " "

    - name: test-run_example-simple_app_under_cca
      run: |
        echo " "
        echo "**********************************************************************"
        echo "* Test: Execute script to compile, build and run simple_app_under_cca "
        echo "**********************************************************************"
        echo " "
        pushd ./sample_apps

        ./cleanup.sh

        ./run_example.sh --dry-run simple_app_under_cca

        ./run_example.sh --dry-run simple_app_under_cca setup

        ./run_example.sh simple_app_under_cca

        ./cleanup.sh

        popd


    - name: test-run_example-simple_app
      run: |
        #! ---------------------------------------------------------------------
        #! This will also check that utilities programs still compile
        echo " "
        echo "******************************************************************"
        echo "* Test: Execute script to compile, build and run simple_app."
        echo "******************************************************************"
        echo " "
        pushd ./sample_apps

        ./cleanup.sh

        set -x
        ps -ef | grep -E 'simpleserver|example_app.exe|run_example.sh|app_service.exe'
        set +x

        ./run_example.sh simple_app
        ./cleanup.sh

        popd

    - name: test-simple_app_under_keystone-using-shim
      run: |
        echo " "
        echo "********************************************"
        echo "* Run simple_app_under_keystone using shim"
        echo "********************************************"
        echo " "
        pushd ./sample_apps

        ./run_example.sh rm_non_git_files
        ./run_example.sh simple_app_under_keystone setup
        ./run_example.sh simple_app_under_keystone run_test

        ./cleanup.sh
        popd

    - name: test-miscellaneous
      run: |
        echo " "
        echo "******************************************************************"
        echo "* Few other miscellaneous checks"
        echo "******************************************************************"
        echo " "
        pushd ./certifier_service/oelib

        make clean
        make dummy

        popd
